div.book-content {
  margin-left: 20px;
}

div.book {
  display:         flex;
  flex-direction:  row;
  border-top:      solid 1px #eaeaea;
  padding:         20px;
  align-content:   stretch;
}

div.book-content {
  display: flex;
  flex-direction: column;
}

div.book-image {
  display:        flex;
  flex-direction: column;
  align-items:    center;
}

div.book-image img.book {
  max-height:    300px;
  max-width:     300px;
}

div.book-title {
  font-size: 1.4em;
}

div.book-title small {
  font-size:  0.6em;
}

div.book-summary {
  margin-top: 20px;
}

div.book-authors {
  margin-top:     5px;
  text-transform: uppercase;
  font-size:      0.7em;
  font-family:    "DM Mono";
}

div.date {
  font-size:    0.85em;
  color:        tan;
  width:        70px;
  margin-right: 5px;
}

div.book-lists {
  padding-left: 10px;
  font-size:    0.6em;
}

div.book-lists ul {
  list-style-type: none;
  margin:          0;
}

div.book-lists ul li {
  margin:      0;
  padding:     3px;
  color:       royalblue;
}


div.book-card {
  display:             flex;
  flex-direction:      column;
  justify-content:     center;
  align-items:         center;
  height:              200px;
  background-position: center;
  background-size:     cover;
}
