<section class="books">
  $for(books)$
    $if(draft)$
      <div class="book draft">
    $else$
      <div class="book">
    $endif$

      <div class="book-image">
        <a href="$url$"><img class="book" src="$imageUrl$" alt="$simpleTitle$ - Cover" /></a>
        <small>Find on <a href="$affiliateLink$">Bookshop.org</a></small>
      </div>

      <div class="book-content">
        <div class="date">$date$</div>

        <div class="book-title">
          <a href="$url$">$simpleTitle$</a>
        </div>

        <div class="book-meta">
          <div class="book-authors">
            by
            $for(authors)$
              $body$$sep$,
            $endfor$
          </div>
        </div>

        $summary$

        <span class="tags">
        $for(tags)$
          <a href="/tags/$body$.html" class="tag $body$">$body$</a>$sep$,
        $endfor$
        </span>
      </div>
    </div>
  $endfor$
  </div>
</section>
