<div class="books">
  $for(books)$
    $if(draft)$
      <div class="book draft">
    $else$
      <div class="book">
    $endif$

      <div class="book-image">
        <a href="$url$"><img class="book" src="$imageUrl$" alt="$simpleTitle$ - Cover" /></a>
      </div>

      <div class="book-content">
        <div class="date">$date$</div>

        <div class="book-title">
          <a href="$url$">$simpleTitle$</a>
        </div>

        <div class="book-authors">
          $for(authors)$
            $body$$sep$,
          $endfor$
        </div>

        <div class="book-summary">
          <p>$summary$</p>
        </div>

      </div>
    </div>
  $endfor$

</div>
