<section class="books">
  $for(books)$
    $if(draft)$
      <div class="book draft">
    $else$
      <div class="book">
    $endif$

      <div class="book-image">
        <a href="$url$"><img class="book" src="$imageUrl$" alt="$simpleTitle$ - Cover" /></a>
      </div>

      <div class="book-content">
        <div class="date">$date$</div>

        <div class="book-title">
          <a href="$url$">$simpleTitle$</a>
        </div>

        <div class="book-meta">
          <div class="book-authors">
            by
            $for(authors)$
              $body$$sep$,
            $endfor$
          </div>
        </div>

        $summary$

        <span class="tags">
        $for(tags)$
          <a href="/tags/$body$.html" class="tag $body$">$body$</a>$sep$,
        $endfor$
        </span>
      </div>
    </div>
  $endfor$
  <div class="book last">

<h1>On the shelf <small>&mdash; Newly obtained but not yet reviewed ...</small></h1>

<div class="newbooks">
  <div class="bb">
    <a href="#"><img
       src="images/new-additions/0531cbdb2a436ddcb36e52c5ca7cedf4.jpg" /></a>
    <p><a href="#">Doughnut Economics</a></p>
    <span>Oct 2022</span>
  </div>
  <div class="bb">
    <a href="#"><img
       src="images/new-additions/0ca5b4df2456ecc2d049603fc2d3a3db.jpg" /></a>
    <p><a href="#">Arctic Dreams</a></p>
    <span>Oct 2020</span>
  </div>
  <div class="bb">
    <a href="#"><img
       src="images/new-additions/436127c193c4c526a0f35d581e038698.jpg" /></a>
    <p><a href="#">Ending Fossil Fuels</a></p>
    <span>Oct 2020</span>
  </div>
  <div class="bb">
    <a href="#"><img src="images/new-additions/48e2305a0a1cbe4b65943f483ee77676.jpg" /></a>
    <p><a href="#">Notes on the Synthesis of Form</a></p>
    <span>Feb 2020</span>
  </div>
  <div class="bb">
    <a href="#"><img src="images/new-additions/df27be118dbb8bea369146127fc529c6.jpg" /></a>
    <p><a href="#">Snow Leopard</a></p>
    <span>Thomas Piketty</span>
    <span>Jan 2020</span>
  </div>
</div>

  </div>

</section>
