<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>$title$ - Between Books</title>
  <meta name="geo.region" content="AU-VIC" />
  <meta name="geo.placename" content="Melbourne" />
  <link rel="stylesheet" href="/css/Base.css?$commit$" />
  <!--
    Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Calistoga&family=Baskervville&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=DM+Mono&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">


  <!-- Meta tags for little cards and such. -->
  <meta property="og:title" content="$title$ - Braneshop"/>
  <meta property='og:url' content="$rootUrl$$url$" />
  $if(imageDescription)$
    <meta property="og:image" content="$rootUrl$$image$" />
    <meta property="og:description" content="$imageDescription$"/>
  $endif$
</head>
<body>

  <header role="banner" id="header">
    <nav role="navigation">
      <div class="container">
        <ul id="menu">
          <li id="logo">
            <a href="/"><img alt="Between Books" title="Between Books" 
              src="/images/bb-logo-300.png" width="300" /></a></li>
          <li><a alt="Home" title="Home" href="/">Home</a></li>
          <li><a alt="About" title="About" href="/about.html">About</a></li>
        </ul>
      </div>
    </nav>
  </header>


  <div id="content" role="main">
    $body$
  </div>


  <footer>
    <div class="decoration"><img src="/images/bb-book.png" /></div>
  </footer>

</body>
</html>
