<div id="book-review">
  <div class="book-info">
    <div>
      <img src="$imageUrl$" />
    </div>

    <div class="fact">
      <span class="property">Author(s)</span>
      <div class="book-authors">$for(authors)$
        $body$$sep$,
      $endfor$
      </div>
    </div>

    <div class="fact">
      <span class="property">Published by</span>
      <span class="value">$publisher$, $yearPublished$</span>
    </div>


    <div class="fact">
      <span class="property">Pages</span>
      <span class="value">$pages$</span>
    </div>

    <div class="fact">
      <span class="property">Buy on</span>
      <span class="value">
        <a href="$link$">Bookshop</a>
      </span>
    </div>

    <div class="fact">
      <span class="property">Find on</span>
      <span class="value">
        <a href="$link$">Goodreads</a>
      </span>
    </div>
  </div>

  <div class="large-review">
    <h2>$title$</h2>

    <h3>Summary</h3>

    <div class="summary">
      <p>$summary$</p>
    </div>

    <h3>Review</h3>

    <div class="review">
      $body$
    </div>
  </div>

</div>
